
Prog.Estruturada/teste função.py
Prog.Estruturada/teste.py
Prog.Estruturada/match-case.py
Prog.Estruturada/.idea/inspectionProfiles/profiles_settings.xml
*.xml
Prog.Estruturada/.idea/Prog.Estruturada.iml
